export(CellPopulation)
export(MeanPopulation)
export(fancy_dendrogram)
export(fit_dendrogram)
export(correlation_heatmap)
export(metaapply)

export(z_normalize_expression)
export(normalize_to_control)
export(normalize_matrix_to_control)
export(strip_low_expression)
export(log_normalize_expression)
export(equalize_UMI_counts)
export(normalize_to_gemgroup_control)
export(inherit_normalized_matrix)
export(normalize_matrix_by_key)

export(get_cell_phase_genes)
export(add_cell_cycle_scores)
export(cell_cycle_position_heatmap)

export(PCAReducer)
export(ICAReducer)
export(PCATSNEReducer)
export(PCAUMAPReducer)

export(ks_de)
export(ad_de)
export(tree_selector)
export(TreeSelectorResult)
export(find_noisy_genes)

export(upper_triangle)
export(nzflat)
export(gini)